.reset {
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: rgba(136, 136, 18, 0.733);
    color: black;
    font-size: x-large;
    border-radius: 10px;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(162, 162, 137, 0.733); 
}
inner-column {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 98%;
}
.playerSelections button {
    font-size: 5rem;
}
.winnerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.winner {
    margin: 1rem 0px 1rem 0px;
}
.playerSelections {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.selection {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: 150ms;
}
.selection:hover {
    transform: scale(1.15);
}
.winner-results {
    font-weight: bold;
    font-size: 2.5rem;
    color: rgba(133, 64, 24, 0.733);
    text-shadow: 1px 1px 3px rgb(108, 111, 20);
}
.results {
    text-align: center;
    margin-top: .5rem;
    font-size: 2.2rem;
}
.display-round  {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
text {
    padding: 0.2rem;
    font-size: 2rem;
}
.you-score, .tie-score, .comp-score {
    font-size: 1.2rem;
    color: rgb(97, 69, 69);
}
h1 {
    font-size: 3.5rem;
}
.div-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}